.cart-container{
    padding: 2rem;
    background-color: var(--rose-50);
    border-radius: 0.5rem;
    min-width: 20rem;
    height: 100%;
}

.cart-container h2{
    color: var(--red);
    margin-bottom: 1rem;
}

.empty-container{
    margin: 0 auto;
    text-align: center;
}

.empty-container img{
    margin: 0 auto;
}

.empty-container p {
    font-weight: 500;
    color: var(--rose-500);
}

.items-container li{
    border-bottom: 0.15rem solid var(--rose-100);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.quantity-price{
    display: flex;
    flex-direction: row;
}

.product-name-review{
    color: var(--rose-900);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.quantity-price{
    display: flex;
    gap: 1rem;
}

.quantity-review{
    color: var(--red);
    font-weight: 600;
}

.single-price-review{
    color: var(--rose-300);
}

.total-price-review{
    color: var(--rose-500);
    font-weight: 500;
}

.remove-item-btn{
    border-color: var(--rose-300);
}

.total-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.total-container p:first-child{
    font-weight: 450;
}

.total-container p:last-child{
    font-weight: 700;
    font-size: 1.5rem;
}

.delivery-container{
    display: flex;
    background-color: var(--rose-100);
    justify-content: center;
    align-items: center;
    height: 3rem;
    gap: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 0 1rem;
}

.confirm-btn{
    background-color: var(--red);
    border: 0;
    color: var(--rose-50);
    width: 100%;
    font-size: 1rem;
}