.confirmation-container{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.confirmation-container__content{
    width: 100%;
    background-color: var(--rose-50);
    margin: 0 auto;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 2rem;
}

.confirmation-container__content > *{
    margin-bottom: 2rem;
}

.confirmation-container__content > *:last-child{
    margin-bottom: 0;
}

.confirmation-container__content > p{
    margin-top: -1.5rem;
    color: var(--rose-500);

}
.confirmation-container__content > div{
    background-color: var(--rose-100);
    padding: 1rem;
    border-radius: 0.5rem;
}
.items-container__confirmed{
    max-height: 20rem;
    overflow-y: auto;
}

.items-container__confirmed li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    border-bottom: 0.15rem solid var(--rose-300);
    padding: 1rem 0;
}

.items-container__confirmed li img{
    max-height: 4rem;
    max-width: 4rem;
    border-radius: 0.5rem;
}

.items-container__confirmed li > div{
    margin-left: -5rem;
}

.items-container__confirmed li > div > div{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.product-name-confirmed{
    color: var(--rose-900);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.quantity-confirmed{
    color: var(--red);
    font-weight: 600;
}

.single-price-confirmed{
    color: var(--rose-300);
}

.quantity-price-confirmed{
    color: var(--rose-900);
    font-weight: 600;
}

@media screen and (width >= 801px){
    .confirmation-container{
        align-items: center;
        justify-content: center;
    }
    .confirmation-container__content{
        max-width: 40rem;
        border-radius: 1rem;
    }
}
