.product-container {
/*    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;*/
    max-width: 100%;
}

.image-product {
    margin: 0 auto;
    border-radius: 0.5rem;
}

.add-item-btn {
    margin: 0 auto;
    transform: translateY(-50%);
    color: var(--rose-900);    
    width: 40%;
}

.category{
    margin-top: -1rem;
    color: var(--rose-400);
}

.name{
    color: var(--rose-900);
    font-weight: 700;
}

.price {
    color: var(--red);
    font-weight: 700;
}

.update-quantity-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 40%;
    height: 3rem;
    margin: 0 auto;
    transform: translateY(-50%);
    border-radius: 2rem;
    background-color: var(--red);
    font-weight: 400;
    color: var(--rose-50);
}

@media screen and (width >= 55rem){
    .products-container{
        flex-direction: row;
    }

    .add-item-btn{
        width: 70%;
    }
    .update-quantity-container{
        width: 70%;
    }
}