.product-container {
/*    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;*/
    max-width: 100%;
}

.image-product {
    display: block;
    max-inline-size: 100%;
    margin: 0 auto;
}

.add-item-btn {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 2.5rem;
    border: 0.15rem solid var(--rose-500);
    border-radius: 2rem;
    margin: 0 auto;
    transform: translateY(-50%);
    color: var(--rose-900);
    font-weight: 700;
}

.add-item-btn:hover, .add-item-btn:focus {
    background-color: var(--rose-300);
    outline: 0;
}

.category{
    color: var(--rose-400);
}
.name{
    color: var(--rose-900);
    font-weight: 700;
}

.price {
    color: var(--red);
    font-weight: 700;
}

.update-quantity-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 40%;
    height: 2.5rem;
    margin: 0 auto;
    transform: translateY(-50%);
    border-radius: 2rem;
    background-color: var(--red);
    font-weight: 400;
    color: var(--rose-50);
}

.quantity-btn{
    background-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1rem solid var(--rose-50);
    border-radius: 50%;
    color: var(--rose-50);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.quantity-btn:hover, .quantity-btn:focus{
    background-color: var(--rose-900);
}