.main-container{
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-container h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.products{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.products li{
    width: 100%;
}

@media screen and (width >= 801px){
    .main-container{
        max-width: 80rem;
        flex-direction: row;
    }

    .main-container .products{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (width >= 1025px){
    .main-container .products{
        grid-template-columns: repeat(3, 1fr);
    }
}