@font-face {
    font-family: "Red Hat";
    src: url('./assets/fonts/RedHatText-VariableFont_wght.ttf');
    font-weight: 400 700;
}

@font-face {
    font-family: "Red Hat Italic";
    src: url('./assets/fonts/RedHatText-Italic-VariableFont_wght.ttf');
    font-weight: 400 700;
}

:root {
    font-family: 'Red Hat';

    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);
}

html {
    font-size: 16px;
    height: 100%
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
}
/*#root{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}*/

a{
    display: block;
    text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  a, button {
    transition: all 0.3s ease-out;
  }
}