@font-face {
    font-family: "Red Hat";
    src: url('./assets/fonts/RedHatText-VariableFont_wght.ttf');
    font-weight: 400 700;
}

@font-face {
    font-family: "Red Hat Italic";
    src: url('./assets/fonts/RedHatText-Italic-VariableFont_wght.ttf');
    font-weight: 400 700;
}

:root {
    font-family: 'Red Hat';

    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);
}

html {
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Red Hat";
    background-color: var(--rose-100);
    color: var(--rose-900);
    font-weight: 400;
}

#root{
    display: flex;
    justify-content: center;
    align-items:center;
}

li{
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
    cursor: pointer;
}

img {
    max-inline-size: 100%;
    block-size: auto;
    display: block;
}

button{
    cursor: pointer;
    font-family: "Red Hat";
    font-size: 0.9rem;
}

.wide-btn{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border: 0.15rem solid var(--rose-500);
    height: 3rem;
    border-radius: 2rem;
    font-weight: 700;
}

.wide-btn:hover, .wide-btn:focus {
    background-color: var(--rose-300);
    outline: 0;
}

.round-btn {
    background-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.15rem solid var(--rose-50);
    border-radius: 50%;
    color: var(--rose-50);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.round-btn:hover, .round-btn:focus{
    background-color: var(--rose-900);
}

@media (prefers-reduced-motion: no-preference) {
  a, button {
    transition: all 0.3s ease-out;
  }
}